 .table{
    text-align: justify;
    border: spacing 1px;
    margin: 1rem;
    padding: 15px;
    
 }
 
 
 
 .table__row{
    background-color:lightslategrey;
    font-size: medium;
    color: white;
 }
 
 
 .table__header{
    color: white;
    font-size:large;
    text-align:center;
    background-color:steelblue;
    font-family:'Times New Roman';
 }




 .table__cell{
 font-size:medium;
 font-family:'monospace';
 padding: 15px;
 }

 .ProductService{
   color: black;
 }