@page
@model Product.Pages.ProductModel
@{
}


<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scales=1.0" />
        <title> Products </title>
        
    </head>
<body>
    <table>
        <tr>
            <th> Product Id </th>
            <th> Name </th>
            <th> Description </th>
        </tr>
        <tr>
            <td> 1001 </td>
            <td> Tool Gears </td>
            <td> Gear tools production specification </td>
        </tr>
        <tr>
            <td> 2001 </td>
            <td> Pannels </td>
            <td> Switch Gear Pannels </td>
        </tr>
        <tr>
            <td> 2008 </td>
            <td> DocTonar </td>
            <td> Document Solar Objects </td>
        </tr>
    </table>
</body>
</html>